In [3]:
cd "D:\Phonepe"

D:\Phonepe

In [5]:
!git clone https://github.com/phonepe/pulse.git

Cloning into 'pulse'...
Updating files:  95% (4881/5109)
Updating files:  96% (4905/5109)
Updating files:  97% (4956/5109)
Updating files:  98% (5007/5109)
Updating files:  99% (5058/5109)
Updating files: 100% (5109/5109)
Updating files: 100% (5109/5109), done.

In [1]:
import pandas as pd
import json
import os

# State Transaction Data

In [8]:
def process_transaction_data(root_dir):
    data_list = []

    # Loop over all the state folders
    for state_dir in os.listdir(os.path.join(root_dir, r"D:\Phonepe\pulse\data\aggregated\transaction\country\india\state")):
        state_path = os.path.join(root_dir, r"D:\Phonepe\pulse\data\aggregated\transaction\country\india\state", state_dir)
        if os.path.isdir(state_path):
            # Loop over all the years folders
            for year_dir in os.listdir(state_path):
                year_path = os.path.join(state_path, year_dir)
                if os.path.isdir(year_path):
                    # Loop over all the JSON files (one for each quarter)
                    for json_file in os.listdir(year_path):
                        if json_file.endswith('.json'):
                            with open(os.path.join(year_path, json_file)) as f:
                                data = json.load(f)
                                # Extract the data we are interested in
                                for transaction_data in data['data']['transactionData']:
                                    payment_instruments = transaction_data.get('paymentInstruments', [])
                                    if payment_instruments:
                                        row_dict = {
                                            'states': state_dir,
                                            'Transaction_year': year_dir,
                                            'Quarters': int(json_file.split('.')[0]),
                                            'Transaction_Type': transaction_data['name'],
                                            'Transaction_Count': payment_instruments[0].get('count', 0),
                                            'Transaction_Amount': payment_instruments[0].get('amount', 0)
                                        }
                                        data_list.append(row_dict)

    state_trans_data = pd.DataFrame(data_list)
    return state_trans_data
root_directory = r"D:\Phonepe\pulse"
state_transaction_dataframe = process_transaction_data(root_directory)

# India Trasaction Data

In [9]:
def create_transaction_dataframe(root_dir):
    data_list = []

    # Loop over all the year folders inside the india folder
    india_folder = os.path.join(root_dir, "data", "aggregated", "transaction", "country", "india")
    for year_dir in os.listdir(india_folder):
        year_path = os.path.join(india_folder, year_dir)
        if os.path.isdir(year_path):
            # Loop over all the JSON files (one for each quarter)
            for json_file in os.listdir(year_path):
                if json_file.endswith('.json'):
                    with open(os.path.join(year_path, json_file)) as f:
                        data = json.load(f)
                        # Extract the data we are interested in
                        for transaction_data in data['data']['transactionData']:
                            payment_instruments = transaction_data.get('paymentInstruments', [])
                            if payment_instruments:
                                row_dict = {
                                    'Transaction_year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'Transaction_Type': transaction_data['name'],
                                    'Transaction_Count': payment_instruments[0].get('count', 0),
                                    'Transaction_Amount': payment_instruments[0].get('amount', 0)
                                }
                                data_list.append(row_dict)

    # Create a Pandas DataFrame from the list of dictionaries
    india_Trans_data = pd.DataFrame(data_list)

    # Return the DataFrame
    return india_Trans_data

# Usage example
root_directory = r"D:\Phonepe\pulse"
india_transaction_dataframe = create_transaction_dataframe(root_directory)

In [40]:
india_transaction_dataframe.iloc[72]

Transaction_year                          2021
Quarters                                     3
Transaction_Type      Recharge & bill payments
Transaction_Count                    714583744
Transaction_Amount         349234592690.499207
Name: 72, dtype: object

# India User Data

In [43]:
import os
import json
import pandas as pd

def extract_user_data(root_dir):
    # Initialize an empty list to store the dictionaries
    data_list = []

    india_folder = os.path.join(root_dir, "india")

    for year_dir in os.listdir(india_folder):
        year_path = os.path.join(india_folder, year_dir)
        if os.path.isdir(year_path):
            for json_file in os.listdir(year_path):
                if json_file.endswith('.json'):
                    json_path = os.path.join(year_path, json_file)
                    with open(json_path) as f:
                        data = json.load(f)
                        quarter = int(json_file.split('.')[0])

                        # Check if 'usersByDevice' is not None
                        if data['data'].get('usersByDevice') is not None:
                            # Extract relevant details and append to the list
                            for device_data in data['data']['usersByDevice']:
                                brand = device_data.get('brand', 'N/A')
                                count = device_data.get('count', 0)

                                row_dict = {
                                    'Year': year_dir,
                                    'Quarter': quarter,
                                    'Brand': brand,
                                    'Count': count
                                }
                                data_list.append(row_dict)

    # Create a Pandas DataFrame from the list of dictionaries
    user_overall_data = pd.DataFrame(data_list)

    return user_overall_data

# Usage example
root_directory = r"D:\Phonepe\pulse\data\aggregated\user\country"
india_user_data = extract_user_data(root_directory)

# State User Data

In [48]:
def extract_user_state_data(state_folder_path):
    # Initialize an empty list to store the dictionaries
    data_list = []

    for state_folder in os.listdir(state_folder_path):
        state_path = os.path.join(state_folder_path, state_folder)
        if os.path.isdir(state_path):
            for year_dir in os.listdir(state_path):
                year_path = os.path.join(state_path, year_dir)
                if os.path.isdir(year_path):
                    for json_file in os.listdir(year_path):
                        if json_file.endswith('.json'):
                            json_path = os.path.join(year_path, json_file)
                            with open(json_path) as f:
                                data = json.load(f)
                                quarter = int(json_file.split('.')[0])

                                # Check if 'usersByDevice' is not None
                                if data['data'].get('usersByDevice') is not None:
                                    # Extract relevant details and append to the list
                                    for device_data in data['data']['usersByDevice']:
                                        brand = device_data.get('brand', 'N/A')
                                        count = device_data.get('count', 0)

                                        row_dict = {
                                            'State': state_folder,
                                            'Year': year_dir,
                                            'Quarter': quarter,
                                            'Brand': brand,
                                            'Count': count
                                        }
                                        data_list.append(row_dict)

    # Create a Pandas DataFrame from the list of dictionaries
    user_state_data = pd.DataFrame(data_list)

    return user_state_data

state_folder_path = r"D:\Phonepe\pulse\data\aggregated\user\country\india\state"
state_user_data = extract_user_state_data(state_folder_path)

# Map India Transaction Data

In [57]:
def extract_map_transaction_data(root_dir):
    # Initialize an empty list to store the dictionaries
    data_list = []

    for year_dir in os.listdir(root_dir):
        year_path = os.path.join(root_dir, year_dir)
        if os.path.isdir(year_path):
            for quarter_file in os.listdir(year_path):
                if quarter_file.endswith('.json'):
                    quarter_path = os.path.join(year_path, quarter_file)
                    with open(quarter_path) as f:
                        data = json.load(f)
                        quarter = int(quarter_file.split('.')[0])

                        for entry in data.get('data', {}).get('hoverDataList', []):
                            name = entry.get('name', 'N/A')
                            metric = entry.get('metric', [{}])[0]
                            count = metric.get('count', 0)
                            amount = metric.get('amount', 0)

                            # Append the data to the list
                            row_dict = {
                                'Year': year_dir,
                                'Quarter': quarter,
                                'Name': name,
                                'Count': count,
                                'Amount': amount
                            }
                            data_list.append(row_dict)

    # Create a Pandas DataFrame from the list of dictionaries
    map_trans_india = pd.DataFrame(data_list)

    return map_trans_india


root_directory = r"D:\Phonepe\pulse\data\map\transaction\hover\country\india"
india_map_trans = extract_map_transaction_data(root_directory)

In [58]:
india_map_trans

     Year  Quarter               Name      Count        Amount
0    2018        1         puducherry     104212  1.658260e+08
1    2018        1         tamil nadu    6726622  1.126156e+10
2    2018        1      uttar pradesh   12537805  1.393997e+10
3    2018        1     madhya pradesh    8025395  8.681603e+09
4    2018        1     andhra pradesh    9039585  1.199628e+10
..    ...      ...                ...        ...           ...
823  2023        3    jammu & kashmir   63903579  8.601615e+10
824  2023        3                goa   26999728  3.737518e+10
825  2023        3  arunachal pradesh   12802433  2.112739e+10
826  2023        3              delhi  546706983  7.081993e+11
827  2023        3        uttarakhand  106284687  1.287624e+11

[828 rows x 5 columns]

# map state transaction data

In [68]:
def extract_top_india_state_data(root_dir):
    # Create an empty list to store DataFrames
    dfs = []

    for year_dir in os.listdir(root_dir):
        year_path = os.path.join(root_dir, year_dir)
        if os.path.isdir(year_path):
            for quarter_file in os.listdir(year_path):
                if quarter_file.endswith('.json'):
                    quarter_path = os.path.join(year_path, quarter_file)
                    with open(quarter_path) as f:
                        data = json.load(f)
                        quarter = int(quarter_file.split('.')[0])

                        # Extract and append data to the list
                        state_data_list = []
                        for state_data in data.get('data', {}).get('states', []):
                            entity_name = state_data.get('entityName', 'N/A')
                            metric = state_data.get('metric', {})
                            count = metric.get('count', 0)
                            amount = metric.get('amount', 0)

                            state_data_list.append({
                                'Year': int(year_dir),
                                'Quarter': quarter,
                                'EntityName': entity_name,
                                'Count': count,
                                'Amount': amount
                            })

                        # Create a DataFrame from the list
                        state_data_df = pd.DataFrame(state_data_list)

                        # Append the DataFrame to the list
                        dfs.append(state_data_df)

    # Concatenate all DataFrames in the list into a single DataFrame
    top_india_state_data = pd.concat(dfs, ignore_index=True)

    return top_india_state_data

# Usage example
root_directory = r"D:\Phonepe\pulse\data\top\transaction\country\india"
top_india_state_data = extract_top_india_state_data(root_directory)

In [69]:
top_india_state_data

     Year  Quarter      EntityName       Count        Amount
0    2018        1     maharashtra    16387034  2.171161e+10
1    2018        1   uttar pradesh    12537805  1.393997e+10
2    2018        1       karnataka    12016899  1.921790e+10
3    2018        1     west bengal    11710225  1.062598e+10
4    2018        1  andhra pradesh     9039585  1.199628e+10
..    ...      ...             ...         ...           ...
225  2023        3       rajasthan  1237232167  1.800225e+12
226  2023        3  madhya pradesh   978812593  1.237822e+12
227  2023        3           bihar   734238751  1.148153e+12
228  2023        3     west bengal   632093191  1.071549e+12
229  2023        3          odisha   622397603  8.402983e+11

[230 rows x 5 columns]

In [74]:
sql = 'ALTER TABLE top_india_state_data MODIFY COLUMN Count varchar(50)'
mycursor.execute(sql)
mydb.commit()

In [11]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',
                            user='root',
                            password='Arun@5851',
                            database='phonepe')
mycursor=mydb.cursor()

In [70]:
sql = 'CREATE TABLE top_india_state_data (Year int,Quarter int, EntityName	varchar(50) ,Count	int ,Amount int)'
mycursor.execute(sql)
mydb.commit()

In [75]:
sql = 'INSERT INTO top_india_state_data (Year ,Quarter , EntityName,Count,Amount) VALUES (%s,%s, %s, %s, %s)'

# Extract values from the DataFrame and convert Series to lists
values = list(zip(
    top_india_state_data['Year'].tolist(),
    top_india_state_data['Quarter'].tolist(),
    top_india_state_data['EntityName'].tolist(),
    top_india_state_data['Count'].tolist(),
    top_india_state_data['Amount'].tolist(),
))

mycursor.executemany(sql, values)
mydb.commit()